body {
  position: relative;
  width: 960px;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

rect {
  fill: #ddd;
}

.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.view {
  fill: url(#gradient);
  stroke: #000;
}

.pcaLine {
  fill: #ca0020;
  /*stroke: #1f78b4;*/
  opacity: 0.5;
}

.restoreButton {
  position: absolute;
  top: 50px;
  right: 20px;
}

.saveButton {
  position: absolute;
  top: 50px;
  right: 108px;
}

.percentageValue {
  position: absolute;
  top: 50px;
  left: 0px;
  font-size: 0.8em;
}

.featureCount {
  position: absolute;
  top: 50px;
  left: 70px;
  font-size: 0.8em;
}

.featureSigma {
  position: absolute;
  top: 50px;
  left: 120px;
  font-size: 0.8em;
}

.slider {
  position: absolute;
  top: 50px;
  left: 170px;
}